* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  cursor:default;
  color: white;
}


.timerContainer.pomodoro{
  --main-color:rgb(186, 73, 73);
  --secondary-color:rgb(235, 129, 129);
  --navbar-color:rgb(201, 66, 66);
}

.timerContainer.shortBreak{
  --main-color:rgb(6, 158, 105);
  --secondary-color:rgb(22, 184, 127);
  --navbar-color:rgb(9, 122, 83);
}

.timerContainer.longBreak{
  --main-color:rgb(6, 158, 105);
  --secondary-color:rgb(22, 184, 127);
  --navbar-color:rgb(9, 122, 83);
}

/* .pomodoroContainer {
  background-color: var(--main-color); 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* 
.active{ 
  background-color: var(--navbar-color)
} */
.timerContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  height: 100vh;
}

.timerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  padding: 3em;
  border-radius: 5px;
}



.timerContainer a{
  font-weight: bold;
}

.timerNavContainer {
  display: flex;
  /* color: white; */
  font-weight: bold;
  
}

.timerNavContainer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  
}

.timerNavContainer ul li{
  /* margin-right: 10px; */
  padding: .5em;
  border-radius: 7px;
  
}
.timerNavContainer ul li.pomodoro{
  background-color: var(--navbar-color);
}

.timerNavContainer ul li.shortBreak{
  background-color: var(--navbar-color);
}

.timerNavContainer ul li.longBreak{
  background-color: var(--navbar-color);
}
.roundNumber{
  margin-top: 2em;
}

.startButton{
  padding: 13px 23px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: black;


  
font-size: 16px;
line-height: 20px;
font-weight: 600;


border: 1.7px solid #222222;


}

.countdownContainer{
  font-size: 50px;
  font-weight: bold;
  /* color: white; */
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

